body{
    background: url(фон.jpg); 

		background-attachment: fixed; /* Фон страницы фиксируется */
        background-size: 150%;
}
input{
    display: block;
    margin: 7px auto;
    padding: 5px;
    text-align: center;
   
}

.content{
    text-align: center;
    display: block;
}
.js-open-modal{
    color:white;
    width:300px;
    height:80px;
    background: rgba(54, 134, 238, 0.925);
    margin:5px auto;
    font-size:30px;
    text-align: center;
    padding: 10px 15px;
    font-weight: bolder;
    text-transform: uppercase;
    box-shadow: 6px 6px 20px -3px black;
    text-decoration:none;
    transition: 0.4s;
}
.js-open-modal:hover{
    background: white;
    color: rgb(48, 44, 255);
}
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    padding: 30px;
    border-radius: 3px;
    background: url(гжель.jpg); 
    /* transition: 0.3s all; */
}
span{
    background: rgb(45, 81, 240);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}



.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
    background-color: white;
}



@media screen and (max-width: 768px) {
    input {
        max-width: 350px;
    }
   
    
    .modal__cross {
        right: 50px;
    }
}


